@charset "UTF-8";
/*设置单位为rem的字体大小函数*/
/*********************************
 * 标签初始化
 * *****************************/
/*全局字体缩放设置*/
html {
  font-size: 40px; }

body {
  font-family: "helvetica", "Microsoft Yahei", "SimHei", "SimSun", "HelveticaNeue";
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  overflow-y: auto;
  background-color: #f4f4f4; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p,
blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal; }

ul, li, ol {
  list-style: none; }

/* 表单相关样式 */
input, textarea {
  border: none;
  background: none;
  font-family: 'Microsoft Yahei', 'SimSun', 'HelveticaNeue'; }

::-webkit-input-placeholder {
  color: #AAA; }

em, i {
  font-style: normal; }

a {
  -webkit-touch-callout: none;
  text-decoration: none;
  outline: 0; }

button:active {
  background: none !important; }

/* 具体内容区域  */
.warp {
  background: #F8F8F8;
  width: 100%;
  max-width: 750px;
  display: none;
  line-height: 1.4;
  margin: 0 auto;
  position: relative;
  padding: 0px; }

/*1px边框样式*/
.footer_shop_box, .footer_detail {
  /*去掉元素原有的边框 */
  position: relative;
  border: none !important; }
  .footer_shop_box:before, .footer_detail:before {
    /*通过设置伪元素放大到2倍的宽高，设置1px边框，再缩小1倍，以达到0.5px边框的效果*/
    content: '';
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    pointer-events: none;
    /*防止点击不到元素 */ }

/*白色背景点击响应*/
/* 调试按钮 */
.debug {
  background: #FF6A00;
  color: #FFF;
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 99999;
  font-size: 14px;
  padding: 3px 6px; }

.hide {
  display: none !important; }

/*清除浮动*/
.clear::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both; }

/*两端对齐*/
.text_justify {
  text-align: justify;
  text-align-last: justify;
  display: inline-block;
  line-height: 0; }

.text_justify:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden; }

/*************************************
    单选(one_sel)、复选(more_sel)、开关(switch_sel)
*************************************/
.one_sel, .more_sel, .switch_sel {
  -webkit-appearance: none;
  vertical-align: top; }

/*复选*/
.more_sel:before, .more_sel:checked:before {
  font-family: iconfont;
  font-size: 1.25rem; }

.more_sel:before {
  content: "\e61e";
  color: #999; }

.more_sel:checked:before {
  content: "\e614";
  color: #996699; }

.more_sel:disabled:before {
  content: "\e61e";
  color: #E1E1E1; }

/*单选*/
.one_sel:before, .one_sel:checked:before {
  font-family: iconfont;
  font-size: 1.25rem;
  vertical-align: top; }

.one_sel:before {
  content: "\e61e";
  color: #999; }

.one_sel:checked:before {
  content: "\e614";
  color: #996699; }

.one_sel:disabled:before {
  content: "\e61e";
  color: #E1E1E1; }

/*************************************
    ajax内容加载相关
*************************************/
/*下拉分页*/
.scroll_currt_page {
  display: none;
  background: rgba(0, 0, 0, 0.55);
  color: #FFF;
  padding: 0.06rem 0.1rem;
  position: fixed;
  z-index: 999;
  right: 50%;
  bottom: 1rem;
  margin: 0 auto;
  font-size: 0.6rem;
  width: 2.4rem;
  text-align: center;
  border-radius: 3px;
  margin-right: -1.2rem; }

/*********************************
 * 定义公用的变量，函数等
 * ******************************/
.footer_shop_box, .footer_settlement, .footer_detail {
  position: fixed;
  left: 0;
  right: 0;
  height: 2.5rem;
  bottom: 0;
  z-index: 99; }

.mui-content {
  padding-top: 2.2rem;
  background-color: #f4f4f4; }

.mui-poppicker-header .mui-btn {
  border: none;
  background-color: transparent;
  font-size: 0.75rem;
  color: #333; }

.mui-poppicker-header, .mui-picker {
  background-color: #fff; }

.mui-popup-button {
  color: #333; }

input[type="text"], input[type="tel"], input[type="password"], input[type="number"] {
  margin: 0;
  padding: 0; }

.banner {
  width: 100%;
  height: 15.55rem;
  max-height: 15.55rem;
  position: relative; }

.swiper-pagination-bullet:before {
  content: "" !important;
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #c3b6ae;
  border-radius: 50%; }

.swiper-pagination-bullet-active:before {
  background-color: #5d5d5b; }

.iconfont {
  font-size: 0.8rem;
  color: #999; }

.btn {
  height: 2.6rem;
  padding: 0.5rem;
  border: none;
  background-color: #fff;
  font-size: 0.95rem; }

.btn_block {
  width: 100%; }

.round_box {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #996699;
  text-align: center;
  line-height: 0.75rem;
  color: #fff;
  position: absolute;
  top: 0.25rem;
  right: 0.75rem; }

/***********************************
 * 公共样式
 **********************************/
.header {
  background-color: #c4acc5;
  height: 2.2rem;
  padding: 0 0.5rem;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  color: #fff; }
  .header .header_l, .header .header_r {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center; }
  .header .header_l .icon-fanhui {
    font-size: 1rem;
    color: #fff; }
  .header .header_r {
    right: 0.5rem;
    display: flex;
    justify-content: flex-end; }
  .header .header_con {
    font-size: 1rem;
    color: #fff;
    display: flex;
    flex: 1;
    justify-content: center; }

.fixed_nav {
  position: fixed;
  top: 2.2rem;
  left: 0;
  z-index: 99;
  background-color: #FFFFFF;
  border: none;
  border-bottom: #EEEEEE 1px solid;
  height: 2.25rem;
  width: 100%; }
  .fixed_nav a {
    border: none !important;
    color: #666666 !important;
    font-size: 0.7rem;
    height: 2.25rem; }
    .fixed_nav a:active {
      background: #F8F8F8; }
    .fixed_nav a span {
      width: 100%;
      display: inline-block;
      height: 1.25rem;
      line-height: 1.25rem !important;
      border-left: #f0f0f0 1px solid !important;
      margin-top: 0.5rem; }
  .fixed_nav .mui-active {
    background: none !important;
    color: #996699 !important; }

.tip_box {
  width: 7.25rem;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.75rem;
  margin-left: -3.625rem;
  background-color: #000000;
  opacity: 0.7;
  border-radius: 3px;
  text-align: center;
  display: none;
  font-size: 0.75rem;
  color: #FFFFFF; }
  .tip_box .icon-svg26 {
    font-size: 1.15rem;
    color: #FFFFFF;
    display: block;
    padding: 0.5rem 0;
    margin: 0 auto; }
  .tip_box .txt {
    line-height: 1.6; }

.original_img {
  background: url(../images/loading.jpg);
  background-size: 100% 100%; }

.order_box_pic {
  width: 4.65rem;
  height: 4.65rem;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  margin: 0.5rem 0.75rem; }
  .order_box_pic img {
    width: 4.65rem;
    height: 4.65rem; }

.order_box_txt {
  width: 12rem;
  height: 4.65rem;
  vertical-align: middle;
  display: inline-block; }
  .order_box_txt a {
    color: #444444;
    font-size: 0.75rem;
    display: block; }
  .order_box_txt span {
    margin: 0.25rem 0;
    color: #ec86bf;
    font-size: 0.55rem;
    display: block; }
    .order_box_txt span em {
      font-size: 0.75rem; }
  .order_box_txt font {
    color: #666666;
    font-size: 0.6rem; }

.numbox {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  display: inline-block;
  width: 5rem;
  border: 1px solid #dddddd;
  border-radius: 0.125rem;
  height: 1.5rem;
  vertical-align: middle; }
  .numbox .posi_l {
    width: 1.5rem;
    position: absolute; }
  .numbox .posi_m {
    width: 100%; }
  .numbox .posi_r {
    width: 1.5rem;
    position: absolute; }
  .numbox .numbox_minus, .numbox .numbox_plus {
    border-radius: 0;
    height: 1.5rem;
    border: none;
    background-color: transparent;
    color: #a0a0a0;
    font-size: 0.75rem;
    outline: none;
    top: 0; }
  .numbox .numbox_minus {
    border-right: 1px solid #dddddd;
    left: 0; }
  .numbox .numbox_plus {
    border-left: 1px solid #dddddd;
    right: 0; }
  .numbox .input_num {
    border: none;
    border-radius: 0;
    height: 1.5rem;
    padding: 0;
    text-align: center;
    font-size: 0.6rem;
    color: #333;
    line-height: 1.4;
    margin: 0; }

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e2e2e2;
  background-color: #fff;
  height: 2.5rem; }
  .footer .footer_item {
    position: relative;
    flex: 1;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.45rem;
    color: #a69d8e; }
    .footer .footer_item .a_home:before {
      content: "\e6f7"; }
    .footer .footer_item .a_shop:before {
      content: "\e605"; }
    .footer .footer_item .a_mine:before {
      content: "\e650"; }
  .footer .round_box {
    right: 2.5rem; }
  .footer .footer_item.active {
    color: #c4acc5; }
    .footer .footer_item.active .a_home:before {
      content: "\e604";
      color: #c4acc5; }
    .footer .footer_item.active .a_shop:before {
      content: "\e60d";
      color: #c4acc5; }
    .footer .footer_item.active .a_mine:before {
      content: "\e65b";
      color: #c4acc5; }

.footer_shop_box {
  bottom: 2.5rem;
  background-color: #fff;
  line-height: 2.5rem;
  overflow: hidden;
  font-size: 0.75rem;
  color: #444; }
  .footer_shop_box:before {
    border-top: 1px solid #e2e2e2; }
  .footer_shop_box .one_sel, .footer_shop_box .more_sel {
    vertical-align: sub; }
  .footer_shop_box .footer_shop_l {
    margin: 0 0 0 0.5rem;
    font-size: 0.825rem;
    padding-top: 0.175rem; }
    .footer_shop_box .footer_shop_l input[type="checkbox"] {
      margin-top: 0.5rem; }
    .footer_shop_box .footer_shop_l span {
      display: inline-block;
      margin-left: 0.25rem; }
  .footer_shop_box .footer_shop_price {
    padding-top: 0.125rem;
    margin-right: 0.5rem; }
    .footer_shop_box .footer_shop_price .price_num {
      vertical-align: -0.05rem; }
  .footer_shop_box .footer_shop_btn {
    width: 6.125rem;
    white-space: nowrap;
    text-align: center;
    font-size: 0.95rem;
    color: #fff;
    background-color: #996699; }

.footer_settlement {
  line-height: 2.5rem;
  padding-left: 0.5rem;
  font-size: 0.9rem;
  background-color: #fff; }
  .footer_settlement .btn {
    float: right;
    line-height: 2.5rem;
    height: 2.5rem;
    width: 5rem;
    border: none;
    border-radius: 0;
    background-color: #996699;
    color: #fff;
    padding: 0;
    font-size: 0.95rem; }
  .footer_settlement .price {
    color: #996699; }
  .footer_settlement .text {
    color: #333; }

.footer_detail {
  background-color: #fff; }
  .footer_detail:before {
    border: 1px solid #e2e2e2; }
  .footer_detail .text_box {
    width: 3.75rem;
    text-align: center;
    height: 100%;
    position: relative;
    padding-top: 0.1rem;
    font-size: 0.45rem;
    color: #999; }
    .footer_detail .text_box .iconfont {
      font-size: 1.2rem;
      color: #999; }
    .footer_detail .text_box .text {
      margin-top: -0.2rem; }
  .footer_detail .btn {
    width: 7.5rem;
    border-radius: 0;
    font-size: 0.95rem;
    color: #fff;
    height: 100%; }
  .footer_detail .join_cart_btn {
    background-color: #ffa200; }
  .footer_detail .go_details_btn {
    background-color: red; }

/*# sourceMappingURL=main.css.map */
