@charset "utf-8";
@import"main";
$baseColor:#cc99cc;



/*************************************
 mine/login.html/register.html/forget_psd.html
*************************************/

#page_form{
    .mui-content{
        background-color: #FFFFFF;
        overflow: hidden;
    }  
    
    .form_box{
        width: setRem(580);
        margin:setRem(100) auto;
        overflow: hidden;       
        li{
            width: 100%;
            margin-bottom: setRem(50);
            position: relative;
            overflow: hidden;
            .text{
                border: #e5e5e5 1px solid;
                width: 100%;
                height: setRem(94);
                line-height: setRem(94);
                padding-left: setRem(150);
                padding-right: setRem(50);
                color: #333333;
                font-size: setRem(34);
            }
            .region{
                width: setRem(140);
                height: setRem(94);
                text-align: center;
                line-height: setRem(94);
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                color: #666666;
                font-size: setRem(36);
            }
            .icon-iconfontguanbi2{
                font-size: setRem(25);
                position: absolute;
                right: setRem(24);
                top: setRem(33);
                color: #cccccc;
            }
            .password{
                border: #e5e5e5 1px solid;
                width: 100%;
                height: setRem(94);
                line-height: setRem(94);
                color: #333333;
                font-size: setRem(34);
                padding:0 setRem(34);
            }
            .submit{
                width: 100%;
                height: setRem(94);
                line-height: setRem(94);
                background-color: #cc99cc;
                border: none;
                padding: 0;
                font-size: setRem(38);
            }
            #test_code{
                width: setRem(370);
                border: #e5e5e5 1px solid;
                height: setRem(94);
                line-height: setRem(94);
                color: #333333;
                font-size: setRem(34);
                padding:0 setRem(34);
            }
            .code_btn{
                width: setRem(195);
                display: inline-block;
                height: setRem(94);
                background-color: #efcda7;
                color: #FFFFFF;
                font-size: setRem(34);
                border: none;
            }
            .code_btn:disabled{
                background-color: #f6f6f6;
                color: #cccccc;
            }
            .checkbox{
                -webkit-appearance: none; 
                vertical-align: middle;
                width: setRem(32);
                height: setRem(32);
                position: relative;                
            }
            .checkbox:before{
                content: '';
                width: setRem(32);
                height: setRem(32);
                background: url(../images/1_01.png) no-repeat;
                background-size: 100% 100%;
                position: absolute;
            }
            .checkbox:checked:before{
                background: url(../images/1_02.png) no-repeat;
                content: '';
                width: setRem(32);
                height: setRem(32);
                background-size: 100% 100%;
                position: absolute;
            }
            .treaty{
                display: inline-block;
                vertical-align: middle;
                margin-left: setRem(10);
                color: #999999;
                font-size: setRem(24);
                a{
                    color: $baseColor;
                }
            }
        }
        .link{
            width: 100%;
            text-align: center;
            color: #666666;
            font-size: setRem(28);
            margin-top: setRem(10);
            overflow: hidden;
            .forget{
                color: #666666;
                padding:0 setRem(30);
            }
            .register{
                color: $baseColor;
                padding:0 setRem(30);
            }
            .login{
               color: $baseColor; 
            }
        }
    }
}

/*************************************
        mine/treaty.html
*************************************/
#page_treaty{
    .mui-content{
        background-color: #FFFFFF;
        overflow: hidden;
    }
    .treaty_box{
        width: setRem(680);
        margin: setRem(30) auto;
        overflow: hidden;
        .title{
            width: 100%;
            text-align: center;
            padding: setRem(50) 0;
            color: #333333;
            font-size: setRem(40);
        }
        .content{
            span{
                display: block;
                color: #333333;
                font-size: setRem(36);
                line-height: 2;
            }
            p{
                color: #666666;
                font-size: setRem(32);
                line-height: 2;
            }
        }
    }
}


/*************************************
        mine/center.html
*************************************/
#page_center{
    .mui-content{
        padding: 0;
    }
    .center_box{
        width: 100%;
        overflow: hidden;
        .center_head{
            width: 100%;
            height:setRem(344) ;
            background: url(../images/1_03.jpg) no-repeat;
            background-size: 100% 100%;
            overflow: hidden;
            position: relative;
            .pic{
                width: setRem(145);
                height: setRem(145);
                border-radius: 50%;
                overflow: hidden;
                margin: setRem(25) auto;
                img{
                   width: 100%;
                }
            }
            .txt{
                width: 100%;
                text-align: center;
                color: #FFFFFF;
                font-size: setRem(34);
                .login,.register{
                    color: #FFFFFF;
                    font-size: setRem(34);
                }
                .tag{
                   font-size: setRem(24); 
                   color: #FFFFFF;
                   line-height: 2;
                }
                .tel{
                    font-size: setRem(24); 
                    color: #FFFFFF;
                    line-height: 2;
                    .iconfont{
                        font-size: setRem(24); 
                        color: #FFFFFF;
                    }
                }
            }
            .set{
                position: absolute;
                top: setRem(25);
                right: setRem(40);
                .icon-set{
                   font-size: setRem(40);
                   color: #FFFFFF; 
                }                
            }
        }
        .center_nav{
            width: 100%;
            height: setRem(166);
            background-color: #FFFFFF;
            overflow: hidden;
            li{
                width: 25%;
                @include activeBg(#f4f4f4);
                float: left;
                height: setRem(166);
                a{
                    display: block;
                    height: setRem(166);
                    .bg{
                        width: setRem(80);
                        height: setRem(80);
                        border-radius:50% ;
                        margin: setRem(20) auto;
                        display: block;
                        background-color: #fff3f3;
                        text-align: center;
                        line-height: setRem(80);
                        position: relative;
                        .iconfont{
                            color: #666666;
                            font-size: setRem(40);
                        }
                        .num{
                            width: 18px;
                            height: 18px;
                            text-align: center;
                            line-height:18px;
                            border-radius:50% ;
                            overflow: hidden;
                            position: absolute;
                            top: 0;
                            right:-9px;
                            background-color: #e52323;
                            font-size: setRem(18);
                            color: #FFFFFF;
                        }
                    }
                    .name{
                        width: 100%;
                        display: block;
                        text-align: center;
                        color: #666666;
                        font-size: setRem(24);
                    }
                }
            }
        }
        
        .center_list{
            width: 100%;
            overflow: hidden;
            ul{
                width: 100%;
                background-color: #FFFFFF;
                margin-top: setRem(20);
                overflow: hidden;
                @extend %border;
                &:before{
                    border-bottom: #eeeeee 1px solid;
                    border-top: #eeeeee 1px solid;
                }
                li{
                    width: setRem(645);
                    margin-left:setRem(105);
                    height: setRem(100);
                    line-height: setRem(100);
                    position: relative;
                    @extend %border;
                    &:before{
                        border-bottom: #eeeeee 1px solid;
                    }
                    a{
                        display: block;
                        height: setRem(100);
                    }
                    .bg{
                        position: absolute;
                        left: setRem(-75);
                        top: setRem(26);
                        width: setRem(48);
                        height: setRem(48);
                        display: block;
                        text-align: center;
                        line-height: setRem(48);
                        border-radius:50%;
                        overflow: hidden;
                        .iconfont{
                            font-size: setRem(28);
                            color: #FFFFFF;
                        }
                    }
                    .bg1{
                        background-color: #ff6969;
                    }
                    .bg2{
                        background-color: #f38cb7;
                    }
                    .bg3{
                        background-color: #6fd87c;
                    }
                    .bg4{
                        background-color: #f9c64c;
                    }
                    .name{
                        color: #333333;
                        font-size: setRem(34);
                    }
                    .icon-xiangyoujiantou{
                        position: absolute;
                        font-size: setRem(20);
                        color: #dbdfe5;
                        right: setRem(40);
                        top: 0;
                    }
                }
                li:last-child{
                    &:before{
                       border: none;
                    }
                }
            }
        }
    }
}


/*************************************
        mine/welfare.html
*************************************/

.no_data{
    width: 100%;
    height: setRem(280);
    overflow: hidden;
    text-align: center;
    background-color:#fbfbfb;
    img{
        width: setRem(120);
        height: setRem(100);
        margin: 0 auto;
        margin-top: setRem(70);
        margin-bottom: setRem(10);
        display: block;
    }
    span{
        display: block;
        color: #cfcfcf;
        font-size: setRem(20);
    }
}
.wechat_box{
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;
    display: none;
    position: absolute;
    .box{
        width: setRem(721);
        height: setRem(830);
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: setRem(200); 
        background: url(../images/1_06.png) no-repeat;
        background-size: 100% 100%;
        img{
            width: setRem(190);
            height: setRem(188);
            margin-top:setRem(300);
            margin-left: setRem(240);
        }
        .close{
            position: absolute;
            left: setRem(320);
            bottom: setRem(50);
            i{
                color: #FFFFFF;
                font-size: setRem(60);
            }
        }
    }          
}
#page_welfare{
    .welfare_box{
        width: 100%;
        overflow: hidden;
        .welfare_head{
            width: 100%;
            height: setRem(210);
            background: url(../images/1_05.jpg) no-repeat;
            background-size: 100% 100%;
            .pic{
                width: setRem(130);
                height: setRem(130);
                overflow: hidden;
                border-radius:50% ;
                display: inline-block;
                vertical-align: middle;
                margin: setRem(35) setRem(30);
                img{
                    width: setRem(130);
                    height: setRem(130);
                }
            }
            .txt{
                width: setRem(350);
                display: inline-block;
                vertical-align: middle;
                .name{
                    color: #333333;
                    font-size: setRem(30);
                }           
                .ID{
                    color: #75467c;
                    font-size: setRem(20);
                    line-height: 2;
                }
            }
            .wechat{
                width: setRem(80);
                height: setRem(80);
                overflow: hidden;
                border-radius:50% ;
                margin-left: setRem(50);
                background-color: #efeff9;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                line-height:setRem(80) ;
                i{
                    font-size: setRem(40);
                    color: #794c80;
                }
            }
        }
        
        .title_box{
            ul{
                width: 100%;
                height: setRem(120);
                background-color: #FFFFFF;
                @extend %border;
                @include activeBg(#F8F8F8);
                &:before{
                    border-bottom: #e2e2e2 1px solid;
                    border-top: #e2e2e2 1px solid;
                }
                li{
                    width: setRem(200);
                    height: setRem(90);
                    margin-top: setRem(15);
                    display: inline-block;
                    text-align: center;
                    i{
                        font-size: setRem(30);
                        line-height: 1.8;
                    }
                    span{
                        font-size: setRem(30);
                        line-height: 1.8;
                    }
                    p{
                        color: #333333;
                        font-size: setRem(24);
                    }
                }
                li:first-child{
                    border-right: #ebebeb dashed 1px;
                    width: setRem(240);
                }
                .icon-xiangyoujiantou{
                    color: #d9d9d9;
                    font-size: setRem(15);
                    font-weight: bolder;
                    position: absolute;
                    right: setRem(30);
                    top: 50%;
                    margin-top: setRem(-12.5);
                }
            }
        }     
        .income{
                       
            .icon-shouyi,.price{
                color: #fc7b91;
            }
            .content{
                width: 100%;
                background-color: #fbfbfb;
                height: setRem(280);
                overflow: hidden;
                @extend %border;
                &:before{
                    border-bottom: #e2e2e2 1px solid;
                  }
                  .head{
                      width: 100%;
                      height: setRem(80);
                      @extend %border;
                      &:before{
                            border-bottom: #f1f1f1 1px solid;
                          }
                      ul{                 
                          li{
                              width: setRem(150);
                              line-height: setRem(80);
                              color: #666666;
                              font-size: setRem(24);
                              text-align: center;
                              display: inline-block;
                          }
                          li:nth-child(4){
                              width: setRem(250);
                          }
                      }
                  }
                  .box{
                      width:100%;
                      li{
                          width: 100%;
                          height: setRem(100);
                          @extend %border;
                          &:before{
                                border-bottom: #f1f1f1 1px solid;
                              }
                           span{
                              width: setRem(150);
                              line-height: setRem(100);
                              color: #333333;
                              font-size: setRem(24);
                              text-align: center;
                              display: inline-block;
                           }
                           .w250{
                               width:setRem(250) ;
                           }
                      }
                  }
            }
        }
        
        .team{
            width: 100%;
            overflow: hidden;
            margin-top: setRem(20);
            .icon-tuandui,.price{
                color: #8d84e6;
            }            
        }
    }       
}
.my_team_box{
    width: 100%;
    background-color: #fbfbfb;
    @extend %border;
    &:before{
        border-bottom: #e2e2e2 1px solid;
      }
      .my_team_head{
          width: 100%;
          height: setRem(80);
          line-height: setRem(80);
          @extend %border;
          &:before{
                border-bottom: #f1f1f1 1px solid;
              }
           span{
               color: #666666;
               font-size: setRem(24);
           }
           .fl{
               margin-left: setRem(30);
               float: left;
           }
           .fr{
               margin-right: setRem(30);
               float: right;
           }
      }
      .my_team_content{
          width: setRem(690);
          margin: 0 auto;             
           li{
               width: 100%;
               height: setRem(100);
               overflow: hidden;
               @extend %border;
                &:before{
                    border-bottom: #f1f1f1 1px solid;
                }
              .my_team_l{
                  float: left;
                  .my_team_pic{
                      width: setRem(80);
                      height: setRem(80);
                      border-radius:50% ;
                      overflow: hidden;
                      display: inline-block;
                      vertical-align: middle;
                      margin-top: setRem(10);
                      img{
                          width: setRem(80);
                            height: setRem(80);
                      }
                  }
                  .my_team_txt{
                      display: inline-block;
                      vertical-align: middle;
                      span{
                          color: #333333;
                          font-size: setRem(26);
                          line-height: 2;
                      }
                      p{
                         color: #999999;
                         font-size: setRem(20); 
                      }
                  }
              }
              .my_team_r{
                    float: right;
                    text-align: right;
                    margin-top: setRem(10);
                    span{
                        color: #333333;
                        font-size: setRem(26);
                        display: block;
                    }
                    font{
                        color: #999999;
                        font-size: setRem(20);
                    }
              }
           }
           li:last-child{
               border: none;
           }
      }
}
/*************************************
            mine/income.html 
*************************************/

#page_income{
    
    .income_head{
        width: 100%;
        height: setRem(260);
        background: url(../images/1_05.jpg);
        background-size: 100% 100%;
        position: relative;
        span{
            color: #666666;
            font-size: setRem(26);
            display: block;
            padding-top:setRem(30) ;
            padding-left: setRem(30);
        }
        em{
            color: #75467c;
            font-size: setRem(90);
            display: block;
            line-height: 1.5;
            padding-left: setRem(30);
        }
        p{
           color: #666666;
            font-size: setRem(26);
            display: block;
            padding-left: setRem(30); 
        }
        a{
            position: absolute;
            right: setRem(28);
            bottom: setRem(30);
            color: #75467c;
            font-size: setRem(26);
            i{
                vertical-align: middle;
                font-size: setRem(26);
                color: #75467c;
            }
        }       
    }
    .income_time{
            width: 100%;
            height: setRem(120);
            background-color: #FFFFFF;
            @extend %border;
            &:before{
                border-bottom: #e2e2e2 1px solid;
                border-top: #e2e2e2 1px solid;
            }
            li{
                
                height: setRem(90);
                margin-top: setRem(15);
                display: inline-block;
                text-align: center;
                i{
                    font-size: setRem(30);
                    line-height: 1.8;
                }
                span{
                    font-size: setRem(30);
                    line-height: 1.8;
                    color: #fc7b91;
                }
                p{
                    color: #333333;
                    font-size: setRem(24);
                }
            }
            .time_box{               
                span{
                    color: #75467c;
                }
            }
            .income_time_r{
                width: setRem(300);
                margin-left: setRem(100);
                vertical-align: top;
                p{
                   line-height: setRem(90);
                   span{
                      font-size: setRem(40); 
                      margin-left: 5px;
                      line-height: setRem(95);
                   }
                }
            }
            li:first-child{
                width: setRem(240);
                border-right: #ebebeb dashed 1px;
            }
    }   
}
.income_content{
    width: 100%;
    background-color: #fbfbfb;
    @extend %border;
    &:before{
        border-bottom: #e2e2e2 1px solid;
      }
      .head{
          width: 100%;
          height: setRem(80);
          @extend %border;
          &:before{
                border-bottom: #f1f1f1 1px solid;
              }
          ul{                 
              li{
                  width: setRem(150);
                  line-height: setRem(80);
                  color: #666666;
                  font-size: setRem(24);
                  text-align: center;
                  display: inline-block;
              }
              li:nth-child(4){
                  width: setRem(250);
              }
          }
      }
      .box{
          width:100%;
          li{
              width: 100%;
              height: setRem(100);
              @extend %border;
              &:before{
                    border-bottom: #f1f1f1 1px solid;
                  }
               span{
                  width: setRem(150);
                  line-height: setRem(100);
                  color: #333333;
                  font-size: setRem(24);
                  text-align: center;
                  display: inline-block;
               }
               .w250{
                   width:setRem(250) ;
               }
          }
      }
}
.mui-dtpicker .mui-btn{
        background-color: $baseColor;
        border: $baseColor 1px solid;
        color: #FFFFFF;
}

#page_income_detail{
    .income_content{
        margin-top: setRem(20); 
    }  
}


/*************************************
            mine/team.html 
*************************************/

#page_team{
    .team_nav{
        width: 100%;
        height: setRem(95);       
        background-color: #FFFFFF;
        border: none;      
        a{          
            border: none;
            color: #333333;
            font-size: setRem(24);
            height: setRem(95);        
            @extend %border;
            &:before{
                border-bottom: #e2e2e2 1px solid;
              }
            span{
                width: 100%;
                display: inline-block;
                height: setRem(55);
                line-height: setRem(55) !important;
                border-right:#e2e2e2 1px dotted ;
                margin-top: setRem(20);
            }
        }
        .mui-active{           
            background:none;
            color: #866e98;
            &:before{
                border-bottom: #866e98 1px solid;
            }            
        }
    }
    .my_team_box{
        margin-top: setRem(20);
    }
}
